<header class="p-3 text-bg-dark">
    <!-- <nav class="navbar fixed-top navbar-dark bg-dark"> -->
      <div>
        
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
          <a href="#" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
            <object data="assets/eshop.svg" width="auto" height="35"> </object>
          </a>
          <div style="width:20px"></div>
          <div></div>
          
          <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <li><a routerLink="/" routerLinkActive="myclass" ariaCurrentWhenActive="page" class="nav-link px-2 text-white">Home</a></li>
           
            <li>
              <div class="dropdown">
                <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                  <span >Category</span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li><a routerLink="/create-category" class="dropdown-item"  >View Categories</a></li>
                  <li><a routerLink="/create-category" class="dropdown-item" >Add New Category</a></li>
                      </ul>
              </div>
  
            </li>
            <li>
              <div class="dropdown">
                <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                  <span >Product</span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li><a routerLink="/view-products" class="dropdown-item"  >View Products</a></li>
                  <li><a routerLink="/create-product" class="dropdown-item" >Add New Product</a></li>
                      </ul>
              </div>
  
            </li>
          </ul>
         
    
          <form class="form-inline col-12 col-lg-4 mb-3 mb-lg-0 me-lg-3" role="search">
            <!-- <input type="search" class="form-control form-control-dark text-bg-dark" placeholder="Search..." aria-label="Search"> -->
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="dropdown">
                 
                  <button class="btn btn-light dropdown-toggle half-rounded" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    <span >All</span>
                  </button>
              
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" >Baby Products</a></li>
                    <li><a class="dropdown-item" >Beauty</a></li>
                    <li><a class="dropdown-item" >Books</a></li>
                    <li><a class="dropdown-item" >Cell Phones & Accessories</a></li>
                    <li><a class="dropdown-item" >Consumer Electornics</a></li>
                    <li><a class="dropdown-item" >Health & Personal Care</a></li>
                    <li><a class="dropdown-item" >Home and Kitchen</a></li>
                    <li><a class="dropdown-item" >Pet Supplies</a></li>
                    <li><a class="dropdown-item" >Sports and Outdoors</a></li>
                  </ul>
                </div>
              </div>
              <input type="text" class="form-control" placeholder="Search" aria-label="Username" aria-describedby="basic-addon1">
              <button type="button" class="btn btn-secondary">Go</button>
            </div>
          </form>
          
          <div *ngIf="isLoggedIn" class="dropdown">
            <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              <!-- <span style="font-size: 10pt;">Hello, {{user.firstName.length < 11 ? user.firstName : user.firstName.substring(0,13) }}</span> -->
              <span class="text-capitalize">Hello, setNextAdmin</span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" href="#">Settings</a></li>
              <li><a class="dropdown-item" (click)="logout()" >Logout</a></li>
            </ul>
          </div>
          
  
          
  
  
          
          <div *ngIf="!isLoggedIn" class="text-end">
            <button type="button" [routerLink]="'/login'" class="btn btn-outline-light me-2">Login</button>
            <button type="button" [routerLink]="'/signup'" class="btn btn-warning">Sign-up</button>
          </div>
        </div>
      </div>
    <!-- </nav> -->
  </header>
  