<div class="container-fluid mt-5" style="min-height: 700px;">

    <div class="container">
        <div class="alert alert-primary" role="alert">
            <h6>Product saved Successfully !</h6>
          </div>

          <div class="alert alert-dark" role="alert">
            <h6>Product Id:</h6> <span style="color: green;font-weight: bolder;">{{productId}}</span>
       
          
            <h6 class="mt-4">Product Url:</h6>  <a target="_blank" href="{{productUrl}}">{{productUrl}}</a>
          </div>

          <button><a routerLink="/create-product" class="dropdown-item" >Add More Product</a></button>
        

         

         
    </div>
</div>


