
.container{
    font-family: open sans,arial,helvetica neue,sans-serif;
    
   padding-top: 30px;
    min-height:90vh;
    background-color: #fff;
 }

 .grey{
    background-color: rgb(112, 157, 246);
 }

 input,
input::placeholder {
    font: 15px/3 sans-serif;
    height: 20px;
}
select{
    min-width: 100px;
}
 

 .card-header{
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    color: #fff;
 }

 .form-label{
    color: #555;
    font-size: 15px;
    font-weight: 700;
 }

 .card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
    }
    .card-registration .select-arrow {
    top: 13px;
    }

