.form-steps-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px;
    margin-top: 10px;
}

.step-bubble {
    padding: 8px;
    border: 3px solid blue;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: blue;
    font-size: 1em;
    cursor: pointer;
    user-select: none;
}

.step-divider {
    height: 2px;
    background: blue;
    flex: 1;
    margin: 0px 10px;
    font-weight: 600 ;
    color: navy;
}

.step-complete {
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border: 3px solid rgb(6, 0, 0);

}
.step-current {
    background: rgb(3, 166, 169);
    color: rgb(0, 0, 0);
    border: 3px solid rgb(3, 166, 169);

}

.step-incomplete {
    cursor: not-allowed;
    pointer-events: none;
}